.table-header {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.table-cell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.clickable-cell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  color: #ec008c;
  cursor: pointer;
}

.table-subtext {
  font-size: 12px;
  color: #888;
}

.failed-count {
  color: red;
  font-size: 12px;
}
